---
title: Using Compute Profiles (NSX-T Only) (Beta)
owner: PKS
---

<strong><%= modified_date %></strong>

<%= partial 'beta-component' %>

This topic describes how to use compute profiles for Kubernetes clusters
provisioned with <%= vars.product_full %> on vSphere with NSX-T integration
using the PKS API.

## <a id='overview'></a> Overview

When you deploy a cluster using <%= vars.product_short %>, you allocate
resources to the cluster workload by specifying a plan. You define plans in the
<%= vars.product_tile %> tile. For more information, see the [Plans](./installing-nsx-t.html#plans)
section of _Installing <%= vars.product_short %> on vSphere with NSX-T_.

In addition to plans, you can also use compute profiles to allocate resources to
cluster workloads. Unlike plans, you can customize any number of compute profiles.

You can define, configure, and use compute profiles using the PKS API.

## <a id='prerequisites'></a> Prerequisites

Before you define a compute profile, you must do the following:

* Install <%= vars.product_short %>. See [Installing <%= vars.product_short %> on vSphere with NSX-T](installing-nsx-t.html).

## <a id='create'></a> Create a Compute Profile

Define a compute profile in a JSON file, and then make a request to the PKS API
using the JSON file. Any parameters you do not configure in the compute profile are
set by the plan you use to create the cluster.

To create a compute profile, do the following:

1. Locate the credentials used to import the PCF .ova or .ovf file into your virtualization system. You set these credentials when you installed Ops Manager.
    <p class="note"><strong>Note</strong>: If you lose your credentials, you must shut down the Ops Manager VM in the vSphere UI and reset the password. See <a href="https://docs.vmware.com/en/VMware-vSphere/6.5/com.vmware.vsphere.security.doc/GUID-4BDBF79A-6C16-43B0-B0B1-637BF5516112.html">vCenter Password Requirements and Lockout Behavior</a> in the vSphere documentation for more information.</p>

1. From a command line, run the following command to SSH into the Ops Manager VM:

    ```
    ssh ubuntu@OPS-MANAGER-FQDN
    ```
    Where `OPS-MANAGER-FQDN` is the fully qualified domain name (FQDN) of Ops Manager.

1. When prompted, enter the password that you set during the .ova deployment
into vCenter. For example:
  <pre class="terminal">
  $ ssh ubuntu&#64;my-opsmanager-fqdn.example.com
  Password: ***********
  </pre>

1. Run `bosh cpi-config` to locate the Cloud Provider Interface (CPI) name for your deployment. For example:

    ```
    USERNAME@OPS-MANAGER-VM:~$ bosh cpi-config
    Using environment 'BOSH-DIRECTOR-IP' as client 'ops_manager'

    cpis:
    - migrated_from:
      - name: ""
      name: YOUR-CPI-NAME
    ```
    For more information about running BOSH commands in your PKS deployment, see [Managing <%= vars.product_short %> Deployments with BOSH](manage-deployments-bosh.html).

1. In a new text file, enter the parameters for the compute profile in the following format:

    ```txt
    {
        "name" : "PROFILE-NAME",
        "description" : "PROFILE-DESCRIPTION",
        "parameters" : {
            "azs": [{
                "cpi": "CPI-NAME",
                "name": "AZ-NAME",
                "cloud_properties": {
                    availability_zone: "CLUSTER-AZ"
                }
            }],
            "worker_azs": ["AZ-NAME"],
            "master_azs": ["AZ-NAME"],
        },
    }
    ```

    Where:
    - `PROFILE-NAME` is the name of the compute profile you want to define. Enter a string value up to 26 characters long. For example, `dev`.
    - (Optional) `PROFILE-DESCRIPTION` describes the compute profile.
    - `CPI-NAME` is the CPI name you located in the previous step. For example, `abc012abc345abc567de`.
    - (Optional) `AZ-NAME` is a name you define for the availability zone (AZ) or zones where you deploy cluster VMs. For example, `z1`. You can define multiple AZ names in this array.
    - (Optional) `CLUSTER-AZ` is the name of an AZ in Ops Manager and your cloud provider console. For example, `us-east-1a`.

    For example:
    <pre class="terminal">
    {
        "name" : "dev",
        "description" : "For development clusters",
        "parameters" : {
            "azs": [{
                "cpi": "abc012abc345abc567des",
                "name": "z1",
                "cloud_properties": {
                    availability_zone: "us-east-1a"
                }
            }],
            "worker_azs": ["z1"],
            "master_azs": ["z1"],
        },
    }
    </pre>
    <p class="note"><strong>Note</strong>: If you define multiple AZs in the <code>azs</code> array, you can specify different AZs for worker node VMs and master node VMs.</p>

1. Save the file with a JSON extension. For example, `dev-clusters.json`.

## <a id='task-2'></a> (Optional) Task 2

Write a few sentences to describe the task and provide additional context on the task.

To [task], do the following:

1. Step 1
2. Step 2

## <a id='sample'></a> Procedural Content Samples

The following are common content types that may appear in procedural topics. Copy and paste the markdown to reuse it in your topic.

### "Fill-In-The-Fields" Table

In cases where users must fill out several fields on a page of a product, use the table format below within the procedure.

To configure the product, do the following:

1. In **Product Dashboard**, click **Settings**.
1. Configure the **Settings** fields as follows:
  <table>
    <tr>
    	<th>Field</th>
    	<th>Instructions</th>
    </tr>
    <tr>
    	<td>
    		<strong>Field Name</strong>
    	</td>
        <td>
        	Instructions for how to complete the field
        </td>
    </tr>
    <tr>
    	<td>
    		<strong>Field Name</strong>
    	</td>
        <td>
        	Instructions for how to complete the field
        </td>
    </tr>
  </table>

### Note

<p class='note'><b>Note:</b></p>

### Warning

<p class='note warning'><b>Warning:</b></p>

## <a id='example'></a>Example Procedure Topic

The following is an example procedure topic with important points highlighted.

![Annotated procedure topic](../image/example-procedure-topic.png)
