---
title: Using Compute Profiles (NSX-T Only) (Beta)
owner: PKS
---

<strong><%= modified_date %></strong>

<%= partial 'beta-component' %>

This topic describes how to use compute profiles for Kubernetes clusters
provisioned with <%= vars.product_full %> on vSphere with NSX-T integration
using the PKS API.

## <a id='overview'></a> Overview

When you deploy a cluster using <%= vars.product_short %>, you specify a plan
to allocate resources to the cluster workload. You define plans in the
<%= vars.product_tile %> tile. For more information, see the [Plans](./installing-nsx-t.html#plans)
section of _Installing <%= vars.product_short %> on vSphere with NSX-T_.

In addition to plans, you can use compute profiles to allocate resources to
cluster workloads. Unlike plans, you can customize any number of compute profiles.

You can define, configure, and use compute profiles using the PKS API.

## <a id='prerequisites'></a> Prerequisites

Use one of the formats described below for the Prerequisites section.

### Format for Two or More Prerequisites

If there are two or more prerequisites, use the following format. Include links for more information, if necessary.

Before you [task], you must have/do the following:

* Prerequisite. See [Link]().
* Prerequisite. See [Link]().

For example:

Before you install the plugin, you must have the following:

* PAS 2.2 or later. See [Link to Instructions]().
* The App Automator plugin. See [Link to Instructions to Download]().

### Format for One Prerequisite

If there is one prerequisite, use the following format. Include a link for more information, if necessary.

Before you [task], you must have/do [prerequisite]. See [Link]().

For example:

Before you install the plugin, you must have PAS 2.2 or later. See [Link to Instructions]().

## <a id='task-1'></a> Task 1

Write a few sentences to describe the task and provide additional context on the task.

To [task], do the following:

1. Step 1
1. Step 2

## <a id='task-2'></a> (Optional) Task 2

Write a few sentences to describe the task and provide additional context on the task.

To [task], do the following:

1. Step 1
2. Step 2

## <a id='sample'></a> Procedural Content Samples

The following are common content types that may appear in procedural topics. Copy and paste the markdown to reuse it in your topic.

### "Fill-In-The-Fields" Table

In cases where users must fill out several fields on a page of a product, use the table format below within the procedure.

To configure the product, do the following:

1. In **Product Dashboard**, click **Settings**.
1. Configure the **Settings** fields as follows:
  <table>
    <tr>
    	<th>Field</th>
    	<th>Instructions</th>
    </tr>
    <tr>
    	<td>
    		<strong>Field Name</strong>
    	</td>
        <td>
        	Instructions for how to complete the field
        </td>
    </tr>
    <tr>
    	<td>
    		<strong>Field Name</strong>
    	</td>
        <td>
        	Instructions for how to complete the field
        </td>
    </tr>
  </table>

### Note

<p class='note'><b>Note:</b></p>

### Warning

<p class='note warning'><b>Warning:</b></p>

## <a id='example'></a>Example Procedure Topic

The following is an example procedure topic with important points highlighted.

![Annotated procedure topic](../image/example-procedure-topic.png)
